@import "~bootstrap/scss/bootstrap.scss";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8c705f;
    font-family: 'Hachi Maru Pop', cursive;
    font-size: medium;
}

.audioList{
    background-color: #1e1a1d;
    margin-top: 3rem;
    padding: 1rem;
    width: 20rem;
    border-radius: 15px;
}

.listItem{
    padding: 2rem;
}

.item{
    list-style-type: none;
    color: #e5f2c9;
    padding-inline-start: 0;
}

.controlBtn{
    display: flex;
    justify-content: center;
    color: antiquewhite;
    padding-bottom: 3rem;
}
